body {
    font-family: Arial, Arial;
    transition: background-color 0.3s, color 0.3s;
}

header, footer {
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 px;
}
.form-container {
    display:flex;
    align-items: flex-start;
    padding: center-right; 
}

.form-image {
    max-width: 600px;
    margin-right: 1rem;
    padding-right: 150px;
}
form {
    padding: 20px, 20px, 20px, 20px;
    flex-grow: 1;
}
form div {
    margin-bottom: 1rem;
}

form div label {
    display: block;
    margin-bottom: 0.5rem;
}

form div input, form div textarea {
    width: 200%;
    padding: 0.5rem;
}

#modeToggle {
    margin-left: 1rem;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}